.bg-color {
    background-image: linear-gradient(90deg, #a700de,#ff00bd);
    height: 100vh;
    width: 100%;
    place-items: center;
    padding: 35px;
}

.sub-container {
    background-color: #fff;
    border-radius: 40px;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    width: 60%;
    height: 90vh;
    margin: auto;
    
}

.round {
    background-color: rgb(208, 214, 219);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: grid;
    place-items: center;
}

input {
    border: none;
    background-color: #e0e0e0;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    align-items: center;
}

button {
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    color: #fff;
    background-color: aqua;

}

button:hover {
    box-shadow: 0 0 5px rgb(21, 0, 255),0 0 25px rgb(13, 0, 255),0 0 50px rgb(60, 0, 255),
    0 0 100px rgb(30, 0, 255),0 0 200px rgb(0, 13, 255);
    background-color: rgb(255, 0, 221);
}


.login-h6 {
    color: rgb(255, 0, 98);
}

span {
    color: #000;
}

h1 {
    align-items: center;
}

.in-div {
    text-align: center;
}
