*{
    color: black;
}

.backcolor {
    background-color: rgb(204, 203, 250);
    width: 100%;
    display: grid;
    
    grid-template-rows: 2;
}

.tech-p {
    text-align: center;
}

.sub-data {
    border-radius: 50px;
    border-top: 10px solid red;
    height: 50vh;
    width: 30%;
    background-color: #fff;
    grid-template-columns: auto auto;
    margin: 50px;
}

.sub-iot {
    border-radius: 50px;
    border-top: 10px solid #0099ff;
    height: 50vh;
    width: 30%;
    background-color: #fff; 
    margin: 50px; 
}

.sub-vr {
    border-radius: 50px;
    border-top: 10px solid rgb(2, 228, 119);
    height: 50vh;
    width: 30%;
    background-color: #fff; 
    margin: 50px;    
}

.sub-ml {
    border-radius: 50px;
    border-top: 10px solid rgb(255, 242, 3);
    height: 50vh;
    width: 30%;
    background-color: #fff; 
    margin: 50px;    
}   

pre {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    float: right;
}
